@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Astera';
  src: url('/font/Astera.woff2') format('woff2'),
      url('/font/Astera.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-astera {
  font-family: Astera;
}

.text-strock {
  -webkit-text-stroke: .05em theme(colors.blue)
}

.dark-fill {
  filter: invert(1) grayscale(100%) brightness(1.5);
}

.fill-shadow {
  filter: drop-shadow(3px 0 1px rgba(0, 0, 0, 0.4));
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}