@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Astera';
  src: url('/font/astera.ttf') format('ttf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

.font-astera {
  font-family: Astera;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 6rem);
  font-weight: bold;
}
h2 {
  font-size: clamp(1rem, 1vw, 1rem);
}
h3 {
  font-size: clamp(2rem, 2vw, 2rem);
  font-weight: 700;
}
h4 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.abs-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}